a.json
{"flowContents":{"identifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","instanceIdentifier":"8200e066-019a-1000-0a8c-f5eaccb97311","name":"a","comments":"","position":{"x":-1808.0,"y":-1112.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7d333a71-65d4-32df-bf02-1883631e3ed6","instanceIdentifier":"8022fda4-019a-1000-7e59-59ccaab00c33","name":"Python Audio Preprocessing","comments":"","position":{"x":-1104.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":null,"Command Path":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"3f11f35a-767c-3b90-9a92-0dbc369affee","instanceIdentifier":"81e4efcb-019a-1000-63f8-f8f5a926ba19","name":"LogAttribute","comments":"","position":{"x":-384.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"81e5e91b-019a-1000-c8ce-ca0ae233e840","instanceIdentifier":"f86ca7cb-a6a8-3155-5632-29c5e04446a0","name":"LogAttribute","comments":"","position":{"x":400.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"c772e6a3-75c4-3d32-9fc1-f2d61fb89337","instanceIdentifier":"7fb4f1ce-019a-1000-1db4-88bdc6c7b9d9","name":"Specific Format","comments":"","position":{"x":-200.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"ext_docx":"${mime.extension:equals('.docx')}","ext_xlsx":"${mime.extension:equals('.xlsx')}","Routing Strategy":"Route to Property name","pdf":"${mime.type:substringAfter('/'):equals('pdf')}","rtf":"${mime.type:substringAfter('/'):equals('rtf')}","xml":"${mime.type:substringAfter('/'):equals('xml')}","plain":"${mime.type:substringAfter('/'):equals('plain')}","csv":"${mime.type:substringAfter('/'):equals('csv')}","json":"${mime.type:substringAfter('/'):equals('json')}","ext_odt":"${mime.extension:equals('.odt')}","msword":"${mime.type:substringAfter('/'):equals('msword')}","ext_md":"${mime.extension:equals('.md')}"},"propertyDescriptors":{"ext_docx":{"name":"ext_docx","displayName":"ext_docx","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ext_xlsx":{"name":"ext_xlsx","displayName":"ext_xlsx","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pdf":{"name":"pdf","displayName":"pdf","identifiesControllerService":false,"sensitive":false,"dynamic":true},"rtf":{"name":"rtf","displayName":"rtf","identifiesControllerService":false,"sensitive":false,"dynamic":true},"xml":{"name":"xml","displayName":"xml","identifiesControllerService":false,"sensitive":false,"dynamic":true},"plain":{"name":"plain","displayName":"plain","identifiesControllerService":false,"sensitive":false,"dynamic":true},"csv":{"name":"csv","displayName":"csv","identifiesControllerService":false,"sensitive":false,"dynamic":true},"json":{"name":"json","displayName":"json","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ext_odt":{"name":"ext_odt","displayName":"ext_odt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"msword":{"name":"msword","displayName":"msword","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ext_md":{"name":"ext_md","displayName":"ext_md","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"8a91e5c8-8725-31f5-914f-280fa9469ce8","instanceIdentifier":"7f2673ce-019a-1000-98f4-89f242a6aca7","name":"GetFile","comments":"","position":{"x":-1072.0,"y":-1112.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/home/david/Downloads/EduScale Hackathon/NiFi_data_bench/Ingest","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"3b699bf8-1edb-383d-9597-fa26005fcccd","instanceIdentifier":"7f237f78-019a-1000-6131-4dfe2c13777f","name":"IdentifyMimeType","comments":"","position":{"x":-1080.0,"y":-856.0},"type":"org.apache.nifi.processors.standard.IdentifyMimeType","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"config-strategy":"Preset","use-filename-in-detection":"true","Custom MIME Configuration":null},"propertyDescriptors":{"config-strategy":{"name":"config-strategy","displayName":"Config Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-filename-in-detection":{"name":"use-filename-in-detection","displayName":"Use Filename In Detection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom MIME Configuration":{"name":"Custom MIME Configuration","displayName":"Custom MIME Configuration","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","URL","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"81e50601-019a-1000-3683-8cc6acff5b52","instanceIdentifier":"6bd4e333-02f6-3efc-dc77-91fcd6aa4b42","name":"LogAttribute","comments":"","position":{"x":104.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"7cf45fda-203c-3f0f-ae7c-c15f220aa34f","instanceIdentifier":"7f2ed66a-019a-1000-275c-41c317af179b","name":"MIME","comments":"","position":{"x":-1080.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"image":"${mime.type:substringBefore('/'):equals('image')}","haptics":"${mime.type:substringBefore('/'):equals('haptics')}","Routing Strategy":"Route to Property name","application":"${mime.type:substringBefore('/'):equals('application')}","multipart":"${mime.type:substringBefore('/'):equals('multipart')}","model":"${mime.type:substringBefore('/'):equals('model')}","text":"${mime.type:substringBefore('/'):equals('text')}","audio":"${mime.type:substringBefore('/'):equals('audio')}","video":"${mime.type:substringBefore('/'):equals('video')}","message":"${mime.type:substringBefore('/'):equals('message')}","font":"${mime.type:substringBefore('/'):equals('font')}","example":"${mime.type:substringBefore('/'):equals('example')}"},"propertyDescriptors":{"image":{"name":"image","displayName":"image","identifiesControllerService":false,"sensitive":false,"dynamic":true},"haptics":{"name":"haptics","displayName":"haptics","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"application":{"name":"application","displayName":"application","identifiesControllerService":false,"sensitive":false,"dynamic":true},"multipart":{"name":"multipart","displayName":"multipart","identifiesControllerService":false,"sensitive":false,"dynamic":true},"model":{"name":"model","displayName":"model","identifiesControllerService":false,"sensitive":false,"dynamic":true},"text":{"name":"text","displayName":"text","identifiesControllerService":false,"sensitive":false,"dynamic":true},"audio":{"name":"audio","displayName":"audio","identifiesControllerService":false,"sensitive":false,"dynamic":true},"video":{"name":"video","displayName":"video","identifiesControllerService":false,"sensitive":false,"dynamic":true},"message":{"name":"message","displayName":"message","identifiesControllerService":false,"sensitive":false,"dynamic":true},"font":{"name":"font","displayName":"font","identifiesControllerService":false,"sensitive":false,"dynamic":true},"example":{"name":"example","displayName":"example","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"c610cd1c-23fb-33e0-a2f4-940d0f272392","instanceIdentifier":"7fe9963f-019a-1000-85d3-15479df69aeb","name":"PutFile","comments":"","position":{"x":-1808.0,"y":-416.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/david/Downloads/EduScale Hackathon/NiFi_data_bench/Other","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"5a8dd32d-f468-3d8a-97e6-c79ae09f86ba","instanceIdentifier":"7fb38544-019a-1000-e923-89c085b0569d","name":"IdentifyMimeType","comments":"","position":{"x":-200.0,"y":-576.0},"type":"org.apache.nifi.processors.standard.IdentifyMimeType","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"config-strategy":"Preset","use-filename-in-detection":"true","Custom MIME Configuration":null},"propertyDescriptors":{"config-strategy":{"name":"config-strategy","displayName":"Config Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-filename-in-detection":{"name":"use-filename-in-detection","displayName":"Use Filename In Detection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom MIME Configuration":{"name":"Custom MIME Configuration","displayName":"Custom MIME Configuration","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","URL","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d3734296-544f-34f6-bd48-d63a168f736e","instanceIdentifier":"7fec5281-019a-1000-6aa6-6fb0c78d22f9","name":"","source":{"id":"c772e6a3-75c4-3d32-9fc1-f2d61fb89337","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"Specific Format","comments":"","instanceIdentifier":"7fb4f1ce-019a-1000-1db4-88bdc6c7b9d9"},"destination":{"id":"c610cd1c-23fb-33e0-a2f4-940d0f272392","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"PutFile","comments":"","instanceIdentifier":"7fe9963f-019a-1000-85d3-15479df69aeb"},"labelIndex":0,"zIndex":10,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"62099a3f-6dc2-39f5-acf1-94637894cbfb","instanceIdentifier":"7f46e44d-019a-1000-1ba7-1f2536be0324","name":"","source":{"id":"3b699bf8-1edb-383d-9597-fa26005fcccd","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"IdentifyMimeType","comments":"","instanceIdentifier":"7f237f78-019a-1000-6131-4dfe2c13777f"},"destination":{"id":"7cf45fda-203c-3f0f-ae7c-c15f220aa34f","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"MIME","comments":"","instanceIdentifier":"7f2ed66a-019a-1000-275c-41c317af179b"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"5GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"36988618-1f9d-38e2-b021-5df729479edb","instanceIdentifier":"81e5d440-019a-1000-5f66-4734584113ca","name":"","source":{"id":"c772e6a3-75c4-3d32-9fc1-f2d61fb89337","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"Specific Format","comments":"","instanceIdentifier":"7fb4f1ce-019a-1000-1db4-88bdc6c7b9d9"},"destination":{"id":"3f11f35a-767c-3b90-9a92-0dbc369affee","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"LogAttribute","comments":"","instanceIdentifier":"81e4efcb-019a-1000-63f8-f8f5a926ba19"},"labelIndex":0,"zIndex":15,"selectedRelationships":["ext_docx","ext_xlsx","pdf","rtf","plain","ext_odt","msword","unmatched","ext_md"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"d223546b-5b8c-3aa5-99fb-31a36ac20464","instanceIdentifier":"81e55b92-019a-1000-7631-7c6d0e2de57e","name":"","source":{"id":"c772e6a3-75c4-3d32-9fc1-f2d61fb89337","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"Specific Format","comments":"","instanceIdentifier":"7fb4f1ce-019a-1000-1db4-88bdc6c7b9d9"},"destination":{"id":"81e50601-019a-1000-3683-8cc6acff5b52","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"LogAttribute","comments":"","instanceIdentifier":"6bd4e333-02f6-3efc-dc77-91fcd6aa4b42"},"labelIndex":0,"zIndex":14,"selectedRelationships":["ext_xlsx","csv"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"c2add134-106c-31af-b4fb-9501bfb9039e","instanceIdentifier":"7f27ca18-019a-1000-c913-df2c7c2b897a","name":"","source":{"id":"8a91e5c8-8725-31f5-914f-280fa9469ce8","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"GetFile","comments":"","instanceIdentifier":"7f2673ce-019a-1000-98f4-89f242a6aca7"},"destination":{"id":"3b699bf8-1edb-383d-9597-fa26005fcccd","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"IdentifyMimeType","comments":"","instanceIdentifier":"7f237f78-019a-1000-6131-4dfe2c13777f"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"eb68c8d6-ca8a-3eee-a19b-02013e045aa0","instanceIdentifier":"7febaac2-019a-1000-22d9-1c648fafd5bb","name":"","source":{"id":"7cf45fda-203c-3f0f-ae7c-c15f220aa34f","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"MIME","comments":"","instanceIdentifier":"7f2ed66a-019a-1000-275c-41c317af179b"},"destination":{"id":"c610cd1c-23fb-33e0-a2f4-940d0f272392","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"PutFile","comments":"","instanceIdentifier":"7fe9963f-019a-1000-85d3-15479df69aeb"},"labelIndex":0,"zIndex":9,"selectedRelationships":["image","haptics","multipart","model","video","message","unmatched","example","font"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"3e45a6c9-413d-3ce2-8113-35f25efe8569","instanceIdentifier":"8012f3c2-019a-1000-74a5-ce77b77d6a45","name":"","source":{"id":"c610cd1c-23fb-33e0-a2f4-940d0f272392","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"PutFile","comments":"","instanceIdentifier":"7fe9963f-019a-1000-85d3-15479df69aeb"},"destination":{"id":"c610cd1c-23fb-33e0-a2f4-940d0f272392","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"PutFile","comments":"","instanceIdentifier":"7fe9963f-019a-1000-85d3-15479df69aeb"},"labelIndex":0,"zIndex":12,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1327.4495849609375,"y":-381.782958984375},{"x":-1327.4495849609375,"y":-331.782958984375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"3f80742f-8da7-3335-86ac-6ec0698b4ef8","instanceIdentifier":"81e61588-019a-1000-64ba-afe13169a01b","name":"","source":{"id":"c772e6a3-75c4-3d32-9fc1-f2d61fb89337","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"Specific Format","comments":"","instanceIdentifier":"7fb4f1ce-019a-1000-1db4-88bdc6c7b9d9"},"destination":{"id":"81e5e91b-019a-1000-c8ce-ca0ae233e840","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"LogAttribute","comments":"","instanceIdentifier":"f86ca7cb-a6a8-3155-5632-29c5e04446a0"},"labelIndex":0,"zIndex":16,"selectedRelationships":["xml","json"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"de7cca22-ad1f-3202-a5a6-9f66d006a911","instanceIdentifier":"7fb3d5d0-019a-1000-a979-bbbd3f400b43","name":"Currently MIME Relevant","source":{"id":"7cf45fda-203c-3f0f-ae7c-c15f220aa34f","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"MIME","comments":"","instanceIdentifier":"7f2ed66a-019a-1000-275c-41c317af179b"},"destination":{"id":"5a8dd32d-f468-3d8a-97e6-c79ae09f86ba","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"IdentifyMimeType","comments":"","instanceIdentifier":"7fb38544-019a-1000-e923-89c085b0569d"},"labelIndex":0,"zIndex":6,"selectedRelationships":["application","text"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"017d8534-7ef1-3506-8b1f-7b4a569ff603","instanceIdentifier":"7fb51e24-019a-1000-1e39-f7156b6199ad","name":"","source":{"id":"5a8dd32d-f468-3d8a-97e6-c79ae09f86ba","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"IdentifyMimeType","comments":"","instanceIdentifier":"7fb38544-019a-1000-e923-89c085b0569d"},"destination":{"id":"c772e6a3-75c4-3d32-9fc1-f2d61fb89337","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"Specific Format","comments":"","instanceIdentifier":"7fb4f1ce-019a-1000-1db4-88bdc6c7b9d9"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"},{"identifier":"f0bd4add-c28b-379b-a66a-c154c2fbddcb","instanceIdentifier":"81e27f62-019a-1000-56db-9956e29362ac","name":"","source":{"id":"7cf45fda-203c-3f0f-ae7c-c15f220aa34f","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"MIME","comments":"","instanceIdentifier":"7f2ed66a-019a-1000-275c-41c317af179b"},"destination":{"id":"7d333a71-65d4-32df-bf02-1883631e3ed6","type":"PROCESSOR","groupId":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556","name":"Python Audio Preprocessing","comments":"","instanceIdentifier":"8022fda4-019a-1000-7e59-59ccaab00c33"},"labelIndex":0,"zIndex":13,"selectedRelationships":["audio"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"57ef2f93-694d-3146-9b8e-dc6f6cd9e556"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}